@import url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Noto+Serif:wght@800&family=Poppins:wght@100;300;400;700&display=swap");

* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: url("bg.jpeg");
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: "New Rocker";
  font-style: italic;
  color: #845e04;
}

.logo span {
  color: #ffffff;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 94px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  bottom: sticky;
  background: #000000;
  z-index: 1;
  border-bottom: 1px solid #845e04;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 600rem;
  font-size: 0.9;
  margin-bottom: 1rem;
}

.hero .content h1 {
  font-size: 8em;
  color: #ffffff;
  text-shadow: 4px 5px 4px rgba(3, 0, 0, 0.5);
  line-height: 1.1;
  text-align: center;
  font-family: "New Rocker";
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.5rem;
  padding: 1.4rem 7%;
  max-width: 69rem;
  color: rgb(244, 242, 242);
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(2, 1, 1, 0.5);
  mix-blend-mode: difference;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: rgb(255, 255, 255);
  font-weight: flex;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
  display: inline-block;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 0, 1px;
}

.kolom {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.kolom .deskripsi {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
}

.kolom .deskripsi p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 45px;
  text-align: center;
  color: #f0a905;
}

.kolom .deskripsi img {
  width: 30%;
  border-radius: 50%;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #845e04;
  width: 100%;
  line-height: 50px;
}

.tengah {
  text-align: center;
  width: 100%;
}

.kontak {
  background: #ffffff;
  width: 100%;
  padding: 30px 0px 30px 0px;
  background-color: #000000;
  color: #ffffff;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 20px;
  color: #ffffff;
  width: 100%;
  line-height: 40px;
}

.tekan {
  background: #99670a;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.tekan:hover {
  background: #0f0d0d;
  text-decoration: none;
  transition: 2ms;
}
p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

header{
  color:white;
  background-color: black;
}
